// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-form {
  margin-top: 10px;
}
.watchlist-content {
  margin-top: 10px;
}
.watch-list-panel {
  margin-top: 65px;
}
.debug-information {
  margin-top: 400px;
}
