<div class="col-xs-3" ng-controller="UsersCtrl">
  <h1>Users</h1>
  <div class="list-group users-group">
    <a href="#/user/{{ user.id }}/watched_symbols" class="list-group-item" ng-repeat="user in shared.users"
      ng-class="{active: user.id == shared.activeUserId}">
      {{ user.name }}
    </a>
    <form name="userForm" class="user-form" ng-submit="createNewUser($event)" novalidate>
      <input type="text" class="form-control" placeholder="Add User"
        ng-model="newUser.name" required>
    </form>
  </div>
</div>

<div class="col-xs-9">
  <div class="watch-list-panel panel panel-default" ng-controller="WatchlistCtrl"
    ng-show="visible()">
    <div class="panel-heading">My Watchlist</div>
    <div class="panel-body">
      <form name="watchlistForm" ng-submit="addNewTicker($event)" novalidate>
        <input type="text" class="form-control" placeholder="Add Ticker"
          ng-model="newTicker.symbol" required>
      </form>

      <div class="watchlist-content">
        <table class="table table-bordered table-striped">
          <thead>
            <th>#</th>
            <th>Name</th>
            <th>Last Price</th>
            <th>High</th>
            <th>Low</th>
            <th>Open</th>
            <th>Change</th>
            <th>Last Updated</th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="item in watchedItems | filter: {user_id: shared.activeUserId}">
              <td> {{ $index + 1 }} </td>
              <td> {{ item.symbol }} </td>
              <td> {{ item.last_price | number:2 }} </td>
              <td> {{ item.high | number:2 }} </td>
              <td> {{ item.low | number:2 }} </td>
              <td> {{ item.open | number:2 }} </td>
              <td> {{ item.change | number:2 }}</td>
              <td> {{ item.updated_at }} </td>
              <td> <a href="#" ng-click="removeWatchedItem($event, $index, item)"
                class="glyphicon glyphicon-remove" </a> </td>
            <tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="debug-information panel panel-default">
    <div class="panel-heading">Debug Information</div>
    <div class="panel-body">
      <p class="text-info">Response from markit : <%= "#{@response.inspect}" %></p>
      Shared
      <p class="text-info">{{ shared | json }} </p>
      Watched Symbols
      <p class="text-info">{{ watchedItems | json }} </p>
    </div>
  </div>
</div>

