<!-- <div class="col-xs-3" ng-controller="UsersCtrl">
  <h1>Users</h1>
  <div class="list-group users-group">
    <a href="#/user/{{ user.id }}/watched_symbols" class="list-group-item" ng-repeat="user in shared.users"
      ng-class="{active: user.id == shared.activeUserId}">
      {{ user.name }}
    </a>
    <form name="userForm" class="user-form" ng-submit="createNewUser($event)" novalidate>
      <input type="text" class="form-control" placeholder="Add User"
        ng-model="newUser.name" required>
    </form>
  </div>
</div> -->
